@import './colors';
@import './fonts';

.scratch-me-btn {
    position: absolute;
    top: 0; 
    right: 35px; 
    width: 70px; 
    margin-top: 7px; 
    padding: 5px;
    font-family: 'Alegreya Sans', sans-serif!important; 
    font-weight: 300;
    font-size: 11px;
    background-color: $btn-bg; 
    color: $btn-color;
    border: none;
    outline: none; 
    box-shadow: 0 0 0 1px $btn-shadow; 
    cursor: pointer;
    z-index: 0;

    .strong-text {
        font-weight: 700;
    }
}

.scratch-me-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $btn-bg-hover;
    box-shadow: 0 0 3px 0 $btn-shadow-hover, 0 0 0 1px $btn-bg-hover; 
    opacity: 0;
    z-index: -1;
    transition: opacity .3s linear;
}

.scratch-me-btn:hover::before {
    opacity: 1;
}